@charset "utf-8";
/*城市选择控件样式
 * modify:2018年4月16日15:05:25
*/
.product-wrapper .product-r .price {
  border: 2px solid #D9D9D9;
}
.addr {
  background: #fff;
  width: 385px;
  position: relative;
  display: none;
}
.addr ul {
  overflow: hidden;
}
.addr ul,
.addr ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.addr .close_btn {
  position: absolute;
  right: 8px;
  cursor: pointer;
  overflow: hidden;
  top: 2px;
}
#ulads {
  padding: 3px 10px 10px;
  border: 1px solid #ccc;
}
#ulads li {
  float: left;
}
#ulads > li {
  cursor: pointer;
  width: 60px;
  margin: 12px 0 0;
  height: 16px;
  line-height: 16px;
  overflow: visible;
}
.city_li {
  margin-top: 7px !important;
  height: auto !important;
  margin-left: -10px !important;
  background-color: #fafafa;
  border: 1px solid #d2d2d2;
  border-width: 1px 0;
  width: 377px !important;
  padding: 0 5px 9px !important;
  display: none;
}
/*.city_li > ul {
            overflow: visible;
        }*/
.city_li > ul li {
  cursor: pointer;
  width: 60px;
  margin: 12px 0 0;
  height: 16px;
  line-height: 16px;
}
#ulads a {
  position: relative;
  padding: 0 5px;
}
#ulads a:hover {
  color: #fff;
  background-color: #a18c7c;
}
#ulads a:focus {
  color: #fff;
}
.area_li {
  margin-top: 7px !important;
  height: auto !important;
  margin-left: -5px !important;
  background-color: #f1f1f1;
  border: 1px solid #d2d2d2;
  border-width: 1px 0;
  width: 375px !important;
  padding: 0 7px 9px !important;
  display: none;
}
.area_li > ul li {
  cursor: pointer;
  width: 60px;
  margin: 12px 0 0;
  height: 16px;
  line-height: 16px;
}
#ulads a {
  position: relative;
  padding: 1px 5px;
}
#ulads a:link,
#ulads a:hover,
#ulads a:active,
#ulads a:visited {
  text-decoration: none;
}
#ulads .addr_selected s {
  border-color: #FFF #FFF #d2d2d2;
  border-style: solid;
  border-width: 0 5px 5px;
  display: block;
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -5px;
  overflow: hidden;
  width: 0;
  height: 0;
}
.addr_selected {
  background-color: #a18c7c;
  color: #fff;
  text-decoration: none;
  padding: 0 5px;
}
.delivery_addr {
  cursor: pointer;
  position: relative;
}
.delivery_addr:after {
  content: '';
  display: inline-block;
  width: 10px;
  border: 5px solid transparent;
  border-top: 8px solid #aaa;
  height: 10px;
  position: absolute;
  top: 4px;
  right: -15px;
}
.delivery_fast_time {
  display: inline-block;
  margin-top: 12px;
}
.delivery_fast_time span {
  color: #f60;
}
/*城市选择*/
.hide {
  display: none !important;
}
.summary-adress {
  height: 25px;
}
.summary-adress > dt {
  line-height: 25px;
}
.stock-address {
  float: left;
  position: relative;
}
.stock-address:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.stock-address .hide {
  display: none;
}
.stock-address .head {
  background: #fff;
  cursor: pointer;
  height: 23px;
  border: 1px solid transparent;
  border-bottom: none;
  padding-bottom: 1px;
}
.stock-address.open .head {
  position: relative;
  z-index: 2009;
  border-color: #ccc;
}
.stock-address.open .content {
  display: block;
}
.stock-address.open .arrow {
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.stock-address .arrow {
  float: left;
  width: 13px;
  height: 7px;
  background: url(../Images/arr-close.png) no-repeat center center;
  background-size: contain;
  margin: 9px 10px 0 10px;
  transition: .2s ease;
  -ms-transition: .2s ease;
  -moz-transition: .2s ease;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
}
.stock-address .text {
  float: left;
  padding-left: 10px;
  line-height: 25px;
  color: #000000;
}
.stock-address .content {
  display: none;
  position: absolute;
  left: 0;
  top: 22px;
  z-index: 2000;
  width: 380px;
  background: #fff;
  padding-top: 20px;
  border: 1px solid #ccc;
}
.stock-address .content dl.address-select {
  display: block;
  margin: 0 10px;
  padding-bottom: 15px;
  color: #666;
}
.stock-address .content dl.address-select dt {
  float: none !important;
}
.stock-address .content dl.address-select .stock-address-list {
  margin: 0;
  padding-top: 10px;
}
.stock-address .address-tab .tab {
  padding: 0;
  margin: 0;
}
.stock-address .address-tab .tab li {
  cursor: pointer;
}
.stock-address .address-tab .tab-con {
  border-top: 2px solid #ff6a00;
  margin-top: -2px;
  padding-top: 10px;
}
.stock-address .address-tab .tab-con li {
  list-style-type: none;
  display: inline-block;
  width: 7em;
  margin-bottom: 5px;
  cursor: pointer;
  color: #666;
  padding: 0 2px;
}
.stock-address .address-tab .tab-con li:hover {
  background: #ff6a00;
  color: #fff;
}
.stock-address .address-tab > ul > li {
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #ddd;
  padding: 2px 10px;
  background: #fff;
  color: #005aa0;
  font: 700 14px 'microsoft yahei';
  border-bottom: none;
}
.stock-address .address-tab > ul > li.current {
  border: 2px solid #ff6a00;
  border-bottom: 2px solid #fff;
}
.stock-address-list .tab-con .item{
    min-height: 176px;
}
